/* Internet Explorer / Edge */
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

/* Chrome, Safari and iOS */
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}

/* Firefox */
@-moz-keyframes rollIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0px) rotate(0deg);
  }
}

/* Opera */
@-o-keyframes rollIn {
  0% {
    opacity: 0;
    -o-transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0px) rotate(0deg);
  }
}

.rollIn {
  animation-name: rollIn; /* Internet Explorer / Edge */
  -webkit-animation-name: rollIn; /* Chrome, Safari and iOS */
  -moz-animation-name: rollIn; /* Firefox */
  -o-animation-name: rollIn; /* Opera */
}
