/* Internet Explorer / Edge */
@keyframes rollOut {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
}

/* Chrome, Safari and iOS */
@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
  }
}

/* Firefox */
@-moz-keyframes rollOut {
  0% {
    opacity: 1;
    -moz-transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(100%) rotate(120deg);
  }
}

/* Opera */
@-o-keyframes rollOut {
  0% {
    opacity: 1;
    -o-transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(100%) rotate(120deg);
  }
}

.rollOut {
  animation-name: rollOut; /* Internet Explorer / Edge */
  -webkit-animation-name: rollOut; /* Chrome, Safari and iOS */
  -moz-animation-name: rollOut; /* Firefox */
  -o-animation-name: rollOut; /* Opera */
}
