/* Internet Explorer / Edge */
@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

/* Chrome, Safari and iOS */
@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

/* Firefox */
@-moz-keyframes lightSpeedIn {
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

/* Opera */
@-o-keyframes lightSpeedIn {
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn; /* Internet Explorer / Edge */
  -webkit-animation-name: lightSpeedIn; /* Chrome, Safari and iOS */
  -moz-animation-name: lightSpeedIn; /* Firefox */
  -o-animation-name: lightSpeedIn; /* Opera */
}
