/* Internet Explorer / Edge */
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* Chrome, Safari and iOS */
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}

/* Firefox */
@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}

/* Opera */
@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateY(100%);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown; /* Internet Explorer / Edge */
  -webkit-animation-name: fadeOutDown; /* Chrome, Safari and iOS */
  -moz-animation-name: fadeOutDown; /* Firefox */
  -o-animation-name: fadeOutDown; /* Opera */
}
