/* Internet Explorer / Edge */
@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

/* Chrome, Safari and iOS */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

/* Firefox */
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1);
  }

  10%,
  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -moz-transform: scale(1) rotate(0);
  }
}

/* Opera */
@-o-keyframes tada {
  0% {
    -o-transform: scale(1);
  }

  10%,
  20% {
    -o-transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -o-transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -o-transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -o-transform: scale(1) rotate(0);
  }
}

.tada {
  animation-name: tada; /* Internet Explorer / Edge */
  -webkit-animation-name: tada; /* Chrome, Safari and iOS */
  -moz-animation-name: tada; /* Firefox */
  -o-animation-name: tada; /* Opera */
}
